<ion-header
  class="md header-md header-collapse-none hydrated sticky iion-header header-height1 custom-height-header1"
>
  <ion-toolbar class="toolbar-title-default v-toolbar iion-toolbar" (click)="closeModal()">
    <ion-buttons slot="start">
      <ion-button fill="clear" ><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title> Ajouter véhicle </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-content-white form-formulaire">
  <form [formGroup]="carForm" (ngSubmit)="add()" (change)="onFileSelected($event)">
    <ion-row class="margin-custom-container add-car">
      <ion-col size="12" class="remove-padding">
        <ion-item class="ion-content-white remove-padding2 file">
          <ion-input
            class="custom-input-login"
            placeholder="Image"
            formControlName="image"
            type="file"
            required
            readonly
          ></ion-input>
          <ion-icon
            class="icon-right-login"
            name="image"
            item-right
          ></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col size="12" class="remove-padding">
        <ion-item class="ion-content-white remove-padding2">
          <ion-input
            class="custom-input-login"
            placeholder="Titre"
            formControlName="title"
            required
          ></ion-input>
          <ion-icon
            class="icon-right-login"
            name="text"
            item-right
          ></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col size="12" class="remove-padding">
        <ion-item class="ion-content-white remove-padding2">
          <ion-input
            class="custom-input-login"
            placeholder="Label"
            formControlName="label"
            required
          ></ion-input>
          <ion-icon
            class="icon-right-login"
            name="pricetag"
            item-right
          ></ion-icon>
        </ion-item>
      </ion-col>
  
      <ion-col size="12" class="remove-padding">
        <ion-item class="ion-content-white remove-padding2">
          <ion-input
            class="custom-input-login"
            placeholder="Prix"
            formControlName="price"
            required
          ></ion-input>
          <ion-icon
            class="icon-right-login"
            name="cash"
            type="tel"
            item-right
          ></ion-icon>
        </ion-item>
      </ion-col>
  
      <ion-col size="12" class="remove-padding">
        <ion-item class="ion-content-white remove-padding2">
          <ion-select class="custom-input-login" placeholder="Type" formControlName="type" cancelText="Annuler" okText="Ok">
            <ion-select-option *ngFor="let fuelType of fuelTypes" [value]="fuelType.id">
              {{ fuelType.name }}
            </ion-select-option>
          </ion-select>
          <ion-icon
          class="icon-right-login"
          name="car"
          item-right
        ></ion-icon>
        </ion-item>
      </ion-col>

      <ion-col size="12" class="remove-padding">
        <ion-item class="ion-content-white remove-padding2">
          <ion-select class="custom-input-login" placeholder="Marque" formControlName="brand" cancelText="Annuler" okText="Ok">
            <ion-select-option *ngFor="let brand of brands" [value]="brand.id">
              {{ brand.name }}
            </ion-select-option>
          </ion-select>
          <ion-icon
          class="icon-right-login"
          name="car-sport-outline"
          item-right
        ></ion-icon>
        </ion-item>
      </ion-col>

      <ion-col size="12" class="remove-padding">
        <ion-item class="ion-content-white remove-padding2">
          <ion-select class="custom-input-login" placeholder="Caractéristique" formControlName="feature" cancelText="Annuler" okText="Ok"  multiple="true">
            <ion-select-option *ngFor="let feature of features" [value]="feature.id">
              {{ feature.name }}
            </ion-select-option>
          </ion-select>
          <ion-icon
          class="icon-right-login"
          name="list"
          item-right
        ></ion-icon>
        </ion-item>
      </ion-col>

      <ion-col size="12" class="remove-padding">
        <ion-item class="ion-content-white remove-padding2">
          <ion-input
            class="custom-input-login"
            placeholder="Passenger"
            formControlName="passagers"
            required
          ></ion-input>
          <ion-icon
            class="icon-right-login"
            name="person"
            type="tel"
            item-right
          ></ion-icon>
        </ion-item>
      </ion-col>

      <ion-col size="12" class="remove-padding">
        <ion-item class="ion-content-white remove-padding2">
          <ion-input
            class="custom-input-login"
            placeholder="Valise"
            formControlName="valise"
            required
          ></ion-input>
          <ion-icon
            class="icon-right-login"
            name="briefcase"
            type="tel"
            item-right
          ></ion-icon>
        </ion-item>
      </ion-col>

      <ion-col size="12" class="remove-padding">
        <ion-item class="ion-content-white remove-padding2">
          <ion-input
            class="custom-input-login"
            placeholder="Portes"
            formControlName="portes"
            required
          ></ion-input>
          <ion-icon
            class="icon-right-login"
            name="exit-outline"
            type="tel"
            item-right
          ></ion-icon>
        </ion-item>
      </ion-col>

      <ion-col size="12" class="remove-padding">
        <ion-item class="ion-content-white remove-padding2">
          <ion-textarea class="custom-input-login" formControlName="description" rows="4" placeholder="Description..."></ion-textarea>
          <ion-icon
            class="icon-right-login"
            name="text-outline"
            type="tel"
            item-right
          ></ion-icon>
        </ion-item>
      </ion-col>
  
    </ion-row>
  
    <ion-row class="margin-custom-container margin-top-5">
      <ion-col size="12" class="remove-padding">
        <ion-button class="ion-bttom-appl4" type="submit"><ion-icon name="add" class="ico-login"></ion-icon> Ajouter</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>